@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html{
    font-family: "Nunito";
    font-size: 12px;
}